body {
	background-color: white;
	color: #3A3A3A;
	margin: 20px 0 0;
	padding: 0;
}

#content {
	position: relative;
	padding: 1% 8%;
}

.title-container {
	position: absolute;
	display: table;
	table-layout: fixed;
	overflow: hidden;
	right: 35%;
	top: 80px;
}

.title-cell {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #3A3A3A; /* dark slate gray */
	display: table-cell;
	text-align: center;
	padding: 5px 5px 5px;
}

#timelineContainer {
	font-size: 65%;
	display: block;
	overflow: auto;
}

dd p, dt a {
	font-family: 'DINWeb', Helvetica, sans-serif;
	font-weight: normal;
}