body {
	background-color: white;
	color: #3A3A3A;
	margin: 20px 0 0;
	padding: 0;
}

#content {
	position: relative;
	padding: 1% 8%;
}

.title-container {
	position: absolute;
	display: table;
	table-layout: fixed;
	overflow: hidden;
	right: 35%;
	top: 80px;
}

.title-cell {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #3A3A3A; /* dark slate gray */
	display: table-cell;
	text-align: center;
	padding: 5px 5px 5px;
}

#timelineContainer {
	font-size: 65%;
	display: block;
	overflow: auto;
}

dd p, dt a {
	font-family: 'DINWeb', Helvetica, sans-serif;
	font-weight: normal;
}

/* Images on the right of the page. */
#img-container {
	position: fixed;
	right: 0;
	top: 23%;
	height: 300px;
	width: 500px;
	z-index: 10;
}

#img-container div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
	box-shadow: 3px 3px 3px #ccc;
	z-index: 2;
}

#concertphoto {
	width: 310px;
	height: 179px;
	opacity: 1;

	-webkit-transition: -webkit-transform 1s ease-in-out,
						 opacity 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out,
					  opacity 1s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out,
					opacity 1s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out,
					 opacity 1s ease-in-out;
	transition: transform 1s ease-in-out,
				opacity 1s ease-in-out;
}

#concertphoto:hover {
	opacity: 0;


	-webkit-transform: translateX(-150px)
					   scale(0.9, 0.9);
	-moz-transform: translateX(-150px)
				    scale(0.9, 0.9);
	-o-transoform: translateX(-150px)
				   scale(0.9, 0.9);
	-ms-transform: translateX(-150px)
				   scale(0.9, 0.9);
	transform: translateX(-150px)
				scale(0.9, 0.9);
}

#inmemory {
	display: none;
	width: 348px;
	height: 40px;
}

#festivalofwinds {
	width: 350px;
	height: 186px;
	opacity: 0;

	-webkit-transform: translateX(150px)
					   scale(0.9, 0.9);
	-moz-transform: translateX(150px)
				    scale(0.9, 0.9);
	-o-transoform: translateX(150px)
				   scale(0.9, 0.9);
	-ms-transform: translateX(150px)
				   scale(0.9, 0.9);
	transform: translateX(150px)
				scale(0.9, 0.9);

	-webkit-transition: -webkit-transform 1s ease-in-out,
						 opacity 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out,
					  opacity 1s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out,
					opacity 1s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out,
					 opacity 1s ease-in-out;
	transition: transform 1s ease-in-out,
				opacity 1s ease-in-out;
}

#festivalofwinds:hover {
	opacity: 1;

	-webkit-transform: translateX(0)
					   scale(1, 1);
	-moz-transform: translateX(0)
				    scale(1, 1);
	-o-transoform: translateX(0)
				   scale(1, 1);
	-ms-transform: translateX(0)
				   scale(1, 1);
	transform: translateX(0)
				scale(1, 1);
}

#festivalofwinds img {
	width: 350px;
	height: 186px;
}