body {
	background-color:#2f2f2f;
	color:#eeefef;
	margin:0;
	padding:0;
}

#content {
	padding: 1% 8%;
}

.title-container {
	width: 100%;;
	display: table;
	table-layout: fixed;
	overflow: hidden;
}

.title-cell {
	font-family: "EB Garamond", Garamond, serif;
	font-size: 33px;
	font-weight: 300;
	color: white;
	/*color: #3A3A3A; /* dark slate gray */
	display: table-cell;
	text-align: center;
	padding: 33px 0 0;
}

#timelineContainer {
	font-size: 65%;
	display: block;
	overflow: auto;
}

dd p, dt a {
	font-family: 'DINWeb', Helvetica, sans-serif;
	font-weight: normal;
}